# ---- PyTorch CPU wheel (tidak menarik paket CUDA) ----
numpy<2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu

# ---- Core app ----
flask
flask-cors
flask-jwt-extended
requests
pymongo
bson
pillow
python-dateutil
opencv-python-headless

# ---- Ultralytics -------------------------------------
ultralytics==8.3.160

# ---- Production server ----
gunicorn
